:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}

body {
    color: var(--text);
    background-color: var(--white-background);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/**/
/* shared */
/**/

.logo {
    color: var(--primary-brand);

    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;

    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

/* Header */

/*WebStudio logo*/
.navigation .logo .studio {
    color: var(--dark);
}

/* Navigation */
.navigation .list {
    list-style-type: none;
}

.navigation .list .link {
    color: var(--hero-background);

    font-weight: 500;

    text-decoration: none;
    letter-spacing: 0.02em;
}

.navigation .list .link:hover,
.navigation .list .link:focus {
    color: var(--pressed-state);
}

.contacts {
    font-style: normal;
}

.contacts .list {
    list-style-type: none;
}

.contact .link {
    color: var(--text);

    font-weight: 400;

    text-decoration: none;
    letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--pressed-state);
}

/* Footer */
.footer {
    background-color: var(--dark);
}

.footer .logo .studio {
    color: var(--light);
}

.footer .text {
    color: var(--light);

    letter-spacing: 0.02em;
}

/**/
/*index*/
/**/

/* hero image section */
.hero-image {
    background-color: var(--hero-background);
}

.hero-image .title {
    color: var(--white-background);

    font-size: 56px;

    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-image .button {
    color: var(--white-background);
    background-color: var(--primary-brand);

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;

    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-image .button:hover,
.hero-image .button:focus {
    background-color: var(--pressed-state);

    cursor: pointer;
}


/* Section 1: Strategy, Puctuality, Dillegence, Technologies */
.section-1 .list {
    list-style-type: none;
}

.section-1 .list .title {
    color: var(--dark);

    font-size: 20px;
    font-weight: 500;

    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-1 .list .text {
    letter-spacing: 0.02em;
}

/* Section 2: What are we doing */
.section-2 .title {
    color: var(--dark);

    font-size: 36px;

    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
}

.section-2 .list {
    list-style-type: none;
}

/* Section 3: Our Team */
.section-section {
    background-color: var(--light);
}

.section-section .title {
    color: var(--dark);

    font-size: 36px;

    text-transform: capitalize;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.section-section .list {
    list-style-type: none;
}

.section-section .team-card {
    background-color: var(--white-background);
}

.section-section .team-card .title {
    font-size: 20px;
    font-weight: 500;

    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-section .team-card .text {
    letter-spacing: 0.02em;
}

/**/
/* portfolio */
/**/

/* Filters */
.filters-button {
    background-color: var(--accent);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background-color: var(--light);
}

.filters-button:hover,
.filters-button:focus {
    background-color: var(--pressed-state);
    color: var(--white-background);
}

/* Row 1, 2, 3: Applications */
.product .link {
    text-decoration: none;
}

.product-card .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.product-card .text {
    letter-spacing: 0.02em;
    color: var(--text);
}