:root {
    --primary-bg-color: #2E2F42;
    --primary-text-color: #434455;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}
ol,
ul {
    list-style-type: none;
}
.logo{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
